body {
    background-image: url(../img/wood3.jpg);
}

.navbar-nav {
    margin-bottom: 0;
    border-radius: 0;
    color: white;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 450px
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin-bottom: -6px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.margin1{
    margin-top: -50px;
}

.margin2{
    margin-top: -35px;
}

.sidetitle{
    text-align: left;
    font-size: 30px;
    color: #2E3F53;
    text-shadow: 0px 0px 3px  #817D62;
    margin-top: 0px;
}

.sidetitle1{
    text-align: center;
    color: #2E3F53;
    text-shadow: 0px 0px 3px  #817D62;
    margin-top: 0px;
    font-size: 30px;
}

.sidetitle2{
    text-align: left;
    font-size: 20px;
    color: #2E3F53;
    text-shadow: 0px 0px 3px  #817D62;
    margin-top: 0px;
}

.sidetitle3{
    text-align: left;
    font-size: 20px;
    color: #2E3F53;
    text-shadow: 0px 0px 3px  #817D62;
    margin-left: 0px;
}

.btn-primary1 {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
     margin-left: 15px;
}
.btn1 {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

table, td, tr{
    border: 4px solid #7F171F;
    background-color: #EFE0B9;
    font-size: 18px;
    text-align: left;
    color: black;
}


th{
    border: 4px solid #7F171F;
    background-color: #EFE0B9;
    font-size: 27px;
    text-align: center;
}

.alert1-info {
    color: #31708f;
    background-color: #EFE0B9;
    border-color: #7F171F;

}
.alert1 {
    padding: 15px;
    margin-top: 17px;
    border: 3px solid #7F171F;
    border-radius: 15px;
    font-size: 17px;
}

.alert2-info {
    color: #31708f;
    background-color: #EFE0B9;
    border-color: #7F171F;

}
.alert2 {
    padding: 15px;
    border: 3px solid #7F171F;
    border-radius: 15px;
    font-size: 17px;
    margin-top: 10px;
}

/* Set gray background color and 100% height */
<style>
    .box {
        margin-bottom: 20px;
        padding: 30px 15px;
        /*background: rgba(255,255,255,0.75);*/
        background: transparent;
        border: 3px solid #337ab7;
        color: #fff;
    }

    hr {
        background-color: #337ab7;
        color: #337ab7;
        height: 3px;
        border: 0;
    }
</style>

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: 500px;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

h1{
    color:  #7F171F ;
    font-weight: 600;
    text-align: left;
    font-size: 45px;
    font-family:serif;
    text-shadow: 2px 1px 1px black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h3,
p {
    color: white;
}

p1{
    color: white;
}
p2{
    color: black;
}

p3{
    color: black;
    font-size: 20px;
    text-align: center;
}
h2{
    color: black;
    text-shadow: 1px 0 2px white;
}

h5{
   color: black;
   font-size: 20px;
   text-shadow: 0px 0px 2px #7F171F;
   margin-left: 5px;
}

a:link, a:visited: {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align:center;
    display: inline-flex;
}



hr{
    height:4px;
    color: white;
    background-color: white;
    border: 0;
    box-shadow: 0 0 10px 1px black;
}

a:hover, a:actuve{
    background-color: white;
}
/* everything from here down is for the resume templates*/

img.align-right	{

                width: 20px;
				height: 20px;}

#rcorners2 {
    border-radius: 35px;
    border: 4px solid #7F171F ;
    padding: 20px;
    background-color: #EFE0B9;
}

#rcorners3 {
    border-radius: 35px;
    border: 6px solid #7F171F;
    padding: 20px;
    margin-left: 100px;
    background-color: #EFE0B9;
}
#titles {
    color: cadetblue;
    font-weight: 400;
    text-align: left;
    font-size: 33px;
    font-family: fantasy;
    margin-left: 90px;
    text-shadow: 1px 0 2px black;
}

#title2{
    color: cadetblue;
    font-weight: 400;
    text-align: center;
    font-size: 33px;
    font-family: fantasy;
    text-shadow: 1px 0 2px black;
}

#bullet{
    color: black;
    font-size: 21px;
    font-family: fantasy;
    text-align: left;
    margin-left: 20px;

}

#insidebullets
{
    color: black;
    font-size: 18px;
    text-align: left;
    font-family: sans-serif;
    margin-left: 40px;

}
#text{
    color: black;
    font-size: 18px;
    text-align: left;
    font-family: sans-serif;
}

h4{
    color: white;
    text-shadow: 0 0 3px #FF0000;
}

img.align-left {
                width: 250px;
				height: 300px;
                margin-right: center;
                margin-top: 130px;

}

img.align-left1 {
                width: 310px;
				height: 300px;
                margin-left: 10px;
                margin-top: 55px;

}

img.align-right {
                width: 210px;
				height: 180px;
                margin-right: 10px;
                margin-top: 310px

}
